<% content_for :page_title do %>
Web Engineering - a textbook
<% end %>

<% content_for :header_section do %>
  <h2>About this Book</h2>
  <p>This is a textbook for the second year of a computer
  science or "media informatics" degree program.  It builds
  on <a href="http://web-development.github.com">Web Development</a>
  (which is only available in german).</p>

  <p>This book is not a self-contained work: There are great
  resources for learning about the tools and technologies of web engineering
  - this book tries to use
  these resources, and bind them together into a coherent study plan.</p>

  <p>It was written and published by Brigitte Jellinek
  in the hope that it will be useful to lecturers and students
  in educational institutions as well as to self-directed learners on the internet.
  </p>
<% end %>

<% content_for :index_section do %>
<% end %>


<h3>Why Rails on the Backend?</h3>

<p>There are many frameworks in other languages that
could also be used instead of Rails. If you have learned
Django or Symphony or any number of other frameworks you did nothing wrong.</p>

<p>We decided on Ruby on Rails in 2008 because the framework seemed well rounded
and modern then, and have not been disappointed. Rails has not stopped innovating
and improving.</p>

<p>We can wholeheartetly recommend it both for learning and for building production
ready software with it.</p>


<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], :work_in_progress => document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
