<% content_for :page_title do %>
Web Engineering - a textbook
<% end %>

<% content_for :header_section do %>
  <h2>About this Book</h2>
  <p>This is a textbook for the second year of a computer
  science or "media informatics" degree program.  It builds
  on <a href="http://web-development.github.com">Web Development</a> 
  (which is only available in german)</p>

  <p>This book was written and published by Brigitte Jellinek
  in the hope that it will be useful to lecturers and students
  in educational institutions as well as to self-directed learners on the internet.
  </p>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <!--
    <dd class="kindle">This textbook is also available for <%= link_to 'Kindle', @mobi %>.</dd>
    -->
    <dd class="work-in-progress">This whole book is currently a work in progress. While still useful, it may contain incomplete information and even errors. You can help by reviewing them and posting your comments and corrections.</dd>
  </dl>
</div>
<% end %>


<h3>Why Web Engineering</h3>

<p>Is there really a need for "Web Engineering" as a separate subject?
Doesn't "Software Engineering" cover Web Development also?</p>

<p>I would argue that web development has reached a level of
complexity where it makes sense to study it in depth, in it's
own right.  Web projects have some features in common, that separate
them from other software projects:</p>

<ul>
  <li><strong>different people</strong>: more non-programmers needed: designers, usability,</li>
  <li><strong>different languages</strong>: for web development dynamic languages are used. this implies different design patterns than strongly typed languages</li>
  <li><strong>no software in boxes</strong>: web apps are not delivered once a year in a box. they have to be maintained and updated all the time, continous delivery is needed!</li>
</ul>

<p>This textbook will try to teach you about general good software engineering practices
while always sticking to examples that are actually useful in web development today.</p>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], :work_in_progress => document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
