<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Slides for
        <%= yield(:page_title) || 'Backend Development Textbook' %>
    </title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="stylesheets/reset.css">
		<link rel="stylesheet" href="stylesheets/reveal.css">
		<link rel="stylesheet" href="stylesheets/myslide.css" id="theme">
    <link rel="stylesheet" href="stylesheets/code.css">

</head>

<body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <%

        def scan_until(regex)
          match = @string.match(regex)
          return unless match
          @string = match.post_match
          match
        end

        def add_slides(html, intro)

          my_path = content_for(:output_path)
          link = my_path&.gsub('slides_', '')&.gsub('./output/', '')
          #puts "linking to #{link}"

          @string = html.dup

          pending = ""

          output = ""
          first = true
          i = 0

          until @string.empty?
            match =  scan_until /(<h[23456].*?>|<hr>+|(<p>)*ยง(<.p>)*)/m

            break if !match

            output << match.pre_match

            output << "</section>\n" unless first
            output << "<section><a class='slide_break' href='#{link}#slide-#{i}'>โป</a>\n"
            i += 1
            if match[0] =~ /ยง/ then
              # discard match
            else
              output << match[0]
            end
            first = false
          end # untile @string.empty?

          output << @string
          output << "</div></section>"

          output
        end
      %>
        <%= add_slides(yield, yield(:header_section)).html_safe %>
      </div>
    </div>
    <!-- End slides. -->
    <!-- Required JS files. -->
		<script src="javascripts/reveal.js"></script>
		<script src="javascripts/search.js"></script>
		<script src="javascripts/markdown.js"></script>

    <script>
    // Also available as an ES module, see:
    // https://revealjs.com/initialization/
    Reveal.initialize({
      controls: false,
      progress: true,
      center: false,
      hash: true,

      // The "normal" size of the presentation, aspect ratio will
      // be preserved when the presentation is scaled to fit different
      // resolutions. Can be specified using percentage units.
      width: 800,
      height: 600,

      // Factor of the display size that should remain empty around
      // the content
      margin: 0.05,

      // Bounds for smallest/largest possible scale to apply to content
      minScale: 0.2,
      maxScale: 10.0,

      keyboard: {
        27: () => {
          // do something custom when ESC is pressed
          var new_url = window.location.pathname.replace('slides_', '');
          console.log('esc to ', new_url);
          window.location = new_url;
        },
        13: 'next', // go to the next slide when the ENTER key is pressed
      },

      // Learn about plugins: https://revealjs.com/plugins/
      plugins: [ RevealSearch, RevealMarkdown ]
    });
    </script>
</body>

</html>
